
<div *ngIf="alert" class="toast show bg-danger" role="alert" aria-live="assertive" aria-atomic="true"  style="position: fixed; top:83%;  left:73%; z-index: 10; ">
  <div class="toast-header">
  
    <strong class="me-auto"><i>LapLunch</i></strong>
    <small>3 sec ago</small>
    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close" ></button>
  </div>
  <div class="toast-body" ><b style="color: white;">
   Incorrect credentials please try again !!</b>
  </div>
</div>

<div class="login-body">
<div class="col-md-4">
<div class="container">
    <h1>Login Form</h1>
    <h6>Already have an account <a routerLink="/registration">Sign up</a></h6>
  <form [formGroup]="loginform" (ngSubmit)="login()">
    
    <div class="form-group">
      <h5>Enter Email</h5>  
      <div class="input-icons">
        <i class="fa fa-envelope icon"  data-bs-toggle="tooltip" title="Email" data-bs-placement="top"></i>
        <input type="email" class="form-control" 
        data-bs-toggle="tooltip" title="Email" data-bs-placement="top"
        placeholder="Email"
        formControlName="email">
         <div *ngIf="loginform.controls['email'].hasError('email')">Email not valid</div>
      </div>
    </div>
    <br>
    
    <div class="form-group">
      <h5>Enter password</h5>
      <div class="input-icons">
      <i class="fa fa-key icon" data-bs-toggle="tooltip" title="Password" data-bs-placement="top"></i>
       <input id="password" type="password" required class="form-control" formControlName="password"
        data-bs-toggle="tooltip" title="Password" data-bs-placement="top"
       placeholder="Password" minlength="8">
       <div *ngIf="loginform.controls['password'].hasError('minlength')">Password must contain minimun 8 characters</div>
      </div>
    </div>
    <br>
    <br>
    <div class="bt">
      <button type="submit" class="btn btn-dark">Login</button>
   
    </div>
  </form>
</div>
</div>
</div>


<!-- <app-footer></app-footer> -->

<!-- 
<div fxLayoutAlign="center center"fxFlexFill class="container">
  <mat-card fxFlex="25">
    <mat-toolbar color="primary">Login page</mat-toolbar>
      <form fxLayoutalign="strech" fxLayout="column" class="login-form" [formGroup]="loginform" (ngSubmit)="login()">
        <mat-form-field>
          <label>Enter Email</label>
          <input type="email" matInput placeholder="Enter email" formControlName="email">
          <mat-error *ngIf="loginform.controls['email'].hasError('email')">Email not valid</mat-error>
        </mat-form-field>
        <br>
        <mat-form-field>
          <label>Enter Password</label>
          <input type="password" matInput placeholder="Enter password" formControlName="password" minlength="8">
          <mat-error *ngIf="loginform.controls['password'].hasError('password')">invalid password</mat-error>
        </mat-form-field>
        <br>
        <button mat-raised-button type="submit" class="mt-5" color="primary">Login</button>
      </form>
  </mat-card>
</div> -->



