  <!-- Site footer -->
  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6><b>About</b></h6>
          <p style="color: white;"> We team laplunch are here to stop your food cravings!!</p>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6><b>Contact Us</b></h6>
          <ul class="footer-links">
            
            <li><a href="#">2-134,Gachibowli,<br>Hyderabad,Telangana</a></li>
            <li><a href="#">+91 9238438520</a></li>
            <li><a href="#">support@laplunch.com</a></li>
          </ul>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6><b>Quick Links</b></h6>
          <ul class="footer-links">
            <li><a href="#">About Us</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Sitemap</a></li>
          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text" style="color:white">Copyright &copy; All Rights Reserved by 
       <a href="#">LapLunch</a>.
          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a class="facebook" href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
            <li><a class="twitter" href="#"><i class="fa-brands fa-twitter"></i></a></li>
            <li><a class="instagram" href="#"><i class="fa-brands fa-instagram"></i></a></li>
            <li><a class="watsapp" href="#"><i class="fa-brands fa-whatsapp"></i></a></li>   
          </ul>
        </div>
      </div>
    </div>
</footer>